.bottomBar {
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.6);
    padding: 4px;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.search {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 100px;
}

.search input, .search input:focus, .search input:focus-visible {
    font-size: 18px;
    border: none;
    background: none;
    color: white;
    box-shadow: none;
    outline: none;
    width: fit-content;
}